<div class="mt-4" style="display: flex; gap: 10px;">
    <img class="image-free" src="https://photo.znews.vn/w660/Uploaded/xbhunku/2017_06_02/338006.jpg"
         alt="Ảnh totoro" style="width: 50%; height: auto;">
    <img class="image-free" src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474070Rfd/anh-nen-totoro-full-hd-cho-may-tinh_100222518.jpg"
         alt="Ảnh totoro" style="width: 50%; height: auto;">
</div>
